<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Animal Shelter</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<!-- Importing NavBar -->
<div th:insert="navbar.html :: navbar"></div>

    <div sec:authorize="isAuthenticated()">
        <div class="container">
            <div th:if="${message}" class="alert alert-success text-center">
                [[${message}]]
            </div>

            <form th:action="@{/animalForm}" method="GET">
                <button type="submit" class="btn btn-primary mt-4 mb-3">Add Animal</button>
            </form>

            <table class="table table-hover table-bordered">
                <thead class="table-dark">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Description</th>
                    <th>Vaccinated</th>
                    <th>Sterilized</th>
                    <th>Arrived in shelter</th>
                    <th>Photo</th>
                    <th>Actions</th>
                </thead>
                <tr th:if="${#lists.isEmpty(animalList)}">
                    <td class="text-center" colspan="7">No records found. Add some...!</td>
                </tr>
            <tbody>
            <tr th:each="animal : ${animalList}">
                <td th:text="${animal.animalId}">#</td>
                <td th:text="${animal.animalName}">Name</td>
                <td th:text="${animal.type}">Type</td>
                <td th:text="${animal.age}">Age</td>
                <td th:text="${animal.gender}">Gender</td>
                <td th:text="${animal.description}">Description</td>
                <td th:text="${animal.vaccinated}">Vaccinated</td>
                <td th:text="${animal.sterilized}">Sterilized</td>
                <td th:text="${#dates.format(animal.arrivingDate, 'yyyy-MM-dd')}">Arrived to shelter</td>
                <td><img th:src="${animal.photosImagePath}" width="200" height="200"/></td>
                <td>
                    <a th:href="@{/edit/{animalId}(animalId=${animal.animalId})}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{/delete/{animalId}(animalId=${animal.animalId})}">Delete</a>
                </td>
            </tr>
            </tbody>
            </table>
    </div>
</div>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>